<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 right-container">
    <div class="panel panel-default">
      <div class="panel-heading lvoilet-panel text-left row">
        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
          <h3 class="panel-title">Configurations</h3>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 ra-cancel-btn">
          <a routerLink="/dashboard" class="none-deco"><span class="sec-button-link" role="button">Close</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 card-list-container row">
    <div class="col-sm-3 col-md-3 col-lg-3">
      <div class="cards-left-panel">
        <div class="col-md-12 col-sm-12 col-lg-12 card-listing">
          <div class="card-repeat" *ngFor="let configType of configurationLeftNavLinks; let i=index;">
            <div class="manage-each-card" [ngClass]="{'active': i===selectedConfigIndex}">
              <div class="card-style">
                <div class="card-icon" *ngIf="configType.name!='person'">
                  <a (click)="onEnableConfigurationEdit($event, i, configType)" class="enable-cursor">
                    <i class="fas fa-edit" aria-hidden="true"></i></a>
                </div>
                <a class="card-text" (click)="onShowConfigTypeDetails($event, i, configType)" title="{{configType.title}}">{{configType.title}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9 card-view-outer-section padding-lr-zero" [hidden]="!showDetails">
      <div class="card-view-outer row ml-0" *ngIf="selectedConfigTypeObj.name=='person'">
        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 person-search pl-0">
          <label>Name/Official ID</label>
          <div class="person-search-box">
            <input type="text" class="form-control search-input" #personSearchField 
            (input)="searchPerson(personSearchField.value)" name="personSearch" 
            [ngModel]="searchCriteria | mask:showSearchMask" #personSearch="ngModel" autocomplete="off" (focus)="showSearchMask = !showSearchMask" (blur)="showSearchMask = true; hidePersonSearchResult()" (ngModelChange)="searchCriteria = $event" [ngClass]="{'is-invalid': searchPersonError}">
            <ul class="person-search-result">
              <li class="person-search-options" *ngFor="let person of allPersons$ | async" 
              (click)="onSelectSearchPerson(person.personId)">
                {{person.firstName}} {{person.lastName}}{{person.officialId !== null ? ' - '+(person.officialId | mask:true) : ''}}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 mt-3">`
          <div class="contam-button-section float-right" *ngIf="formDisabled">
            <button class="edit-button float-left" (click)="onEnableConfigurationEdit($event, selectedConfigIndex, selectedConfigTypeObj)" *ngIf="personSearched">Edit</button>
          </div>
          <div class="contam-button-section float-right" *ngIf="!formDisabled">
            <button class="save-button float-left" (click)="onUpdateConfiguration(selectedConfigTypeObj.name)" [ngClass]="{'is-disabled': configurationForm.invalid || !configurationForm.dirty}" name="saveBtn" [disabled]="configurationForm.invalid || !configurationForm.dirty">Save</button>
            <button type="button" class="cancel-button float-right" (click)="onCancelConfiguration($event,configurationForm)">Cancel</button>
          </div>
        </div>
      </div>
      <div class="card-view-outer" [hidden]="selectedConfigTypeObj.name=='person' && !personSearched">
        <div class="card-view-outer-panel" [ngClass]="{'pt-3': selectedConfigTypeObj.name=='person' }">
          <form name="configurationForm" #configurationForm="ngForm" novalidate>
            <div class="card-name-section" *ngIf="selectedConfigTypeObj.name!='person'">
              <div class="card-name">{{selectedConfigTypeObj.title}}</div>
              <div class="contam-button-section float-right" *ngIf="formDisabled && selectedConfigTypeObj.name!='person'">
                <button class="edit-button float-left" (click)="onEnableConfigurationEdit($event, selectedConfigIndex, selectedConfigTypeObj)">Edit</button>
              </div>
              <div class="contam-button-section float-right" *ngIf="!formDisabled">
                <button class="save-button float-left" (click)="onUpdateConfiguration(selectedConfigTypeObj.name)" [ngClass]="{'is-disabled': configurationForm.invalid || !configurationForm.dirty || onError}" name="saveBtn" [disabled]="configurationForm.invalid || !configurationForm.dirty || onError">Save</button>
                <button type="button" class="cancel-button float-right"  (click)="onCancelConfiguration($event,configurationForm)">Cancel</button>
              </div>
            </div>
            <div class="card-subitem-list-container">
              <div class="ui-helper-reset">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <table class="table inner-table" *ngIf="selectedConfigTypeObj.name=='account'">
                    <tbody>
                      <tr>
                        <th>ACCOUNTNUM</th>
                        <th>FREQUENCY</th>
                        <th>INCLUDE</th>
                      </tr>
                      <tr *ngFor="let account of allAccounts; let i=index;">
                        <td class="lable-column">{{account.dosimetryAccountId}}</td>
                        <td class="lable-column nopaddingall">
                          <ng-select [items]="allFrequencyTypeRefs" bindValue="typeCode" bindLabel="description" [(ngModel)]="account.frequencyCode" name="frequencyCode{{i}}" #frequencyCode="ngModel" [disabled]="formDisabled" (ngModelChange)="inputValidation($event, i, selectedConfigTypeObj.name, 'frequencyCode','select')">
                          </ng-select>
                        </td>
                        <td class="lable-column nopaddingall">
                          <input type="checkbox" class="form-control table-checkbox" [(ngModel)]="account.loadFlag" #loadFlag="ngModel" name="loadFlag{{i}}" (input)="inputValidation($event, i, selectedConfigTypeObj.name)" disabled>
                        </td>
                      </tr>
                    </tbody>
                  </table> 
                  <table class="table inner-table" *ngIf="selectedConfigTypeObj.name=='radionuclide'">
                    <tbody>
                      <tr>
                        <th>Radionuclide</th>
                        <th>STOCHASTIC_ALI_VALUE</th>
                        <th>NON_STOCHASTIC_ALI_VALUE</th>
                      </tr>
                      <tr *ngFor="let radionuclide of allRadionuclides; let i=index;">
                        <td class="lable-column">{{radionuclide.nuclideName}}</td>
                        <td class="input-field-column nopaddingall">
                          <input type="number" class="table-input-field form-control" (input)="inputValidation($event, i, selectedConfigTypeObj.name)"
                          [(ngModel)]="radionuclide.stochasticAliQty" name="stochasticAliQty{{i}}"
                           min="1" step="1"
                          [disabled]="formDisabled">
                          <div class="errorMsg">Invalid entry (Value should be grater than 0)</div>
                        </td>
                        <td class="input-field-column nopaddingall">
                          <input type="number" class="table-input-field form-control" 
                          [(ngModel)]="radionuclide.nonStochasticAliQty" name="nonStochasticAliQty{{i}}" 
                          (input)="inputValidation($event,i, selectedConfigTypeObj.name)" 
                          #nonStochasticAliQty="ngModel" [disabled]="formDisabled">
                          <div class="errorMsg">Invalid entry (Value should be grater than 0)</div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="table inner-table" *ngIf="selectedConfigTypeObj.name=='intakeRetention'">
                    <tbody>
                      <tr>
                        <th>RADIONUCLIDE</th>
                        <th>IRF_VALUE</th>
                        <th>DAYS_GTEQ</th>
                        <th>DAYS_LT</th>
                      </tr>
                      <tr *ngFor="let intakeRetention of allIntakeRetention; let i=index;">
                        <td class="lable-column">{{intakeRetention.nuclide.dosimetryNuclideCode}}</td>
                        <td class="input-field-column nopaddingall">
                          <input type="text" class="table-input-field form-control" [(ngModel)]
                          ="intakeRetention.irfValueQty" name="irfValueQty{{i}}" #irfValueQty="ngModel"
                          (input)="inputValidation($event, i, selectedConfigTypeObj.name, 'irfValueQty')" [disabled]="formDisabled"> 
                          <div class="errorMsg"> numbers > 0 to six decimal places</div>
                        </td>
                        <td class="input-field-column nopaddingall">
                          <input type="text" class="table-input-field form-control" [(ngModel)]="intakeRetention.daysGreatEqQty" name="daysGreatEqQty{{i}}"
                          (input)="inputValidation($event, i, selectedConfigTypeObj.name, 'daysGreatEqQty')" #daysGreatEqQty="ngModel" [disabled]="formDisabled">
                          <div class="errorMsg">numbers >=0 to two decimal places</div>
                        </td>
                        <td class="input-field-column nopaddingall">
                          <input type="text" class="table-input-field form-control" [(ngModel)]="intakeRetention.daysLessQty" name="daysLessQty{{i}}" #daysLessQty="ngModel"
                          (input)="inputValidation($event, i, selectedConfigTypeObj.name, 'daysLessQty')" [disabled]="formDisabled">
                          <div class="errorMsg">numbers >0 to two decimal places</div>
                        </td>
                      </tr>
                    </tbody>
                  </table>                  
                  <table class="table inner-table" [hidden]="selectedConfigTypeObj.name!='location'">
                    <tbody>
                      <tr>
                        <th>GROUP</th>
                        <th>SERIES</th>
                        <th>NUMBER</th>
                        <th>NAME</th>
                        <th>CITY</th>
                        <th>STATE</th>
                      </tr>
                      <tr *ngFor="let location of allLocations; let i=index;">
                        <td class="lable-column nopaddingall">
                          <ng-select [items]="allGroupTypeRefs" bindValue="typeCode" bindLabel="description" [(ngModel)]="location.locationGroupCode" name="locationGroupCode{{i}}" #locationGroupCode="ngModel" (ngModelChange)="inputValidation($event, i, selectedConfigTypeObj.name, 'locationGroupCode','select')" [disabled]="formDisabled">
                          </ng-select>
                        </td>
                        <td class="lable-column nopaddingall">
                          <ng-select [items]="allLocationSeries" bindValue="seriesValue" bindLabel="seriesValue" [(ngModel)]="location.seriesValue" name="seriesValue{{i}}" #seriesValue="ngModel" (ngModelChange)="inputValidation($event, i, selectedConfigTypeObj.name, 'seriesValue','select')" [disabled]="formDisabled">
                          </ng-select>
                        </td>
                        <td class="input-field-column nopaddingall">
                          <input type="text" class="table-input-field form-control" [(ngModel)]="location.isotracLocationId" name="isotracLocationId{{i}}" #isotracLocationId="ngModel" [disabled]="true">
                        </td>
                        <td class="input-field-column nopaddingall">
                          <input type="text" class="table-input-field form-control" [(ngModel)]="location.locationName" name="locationName{{i}}" #locationName="ngModel" [disabled]="true">
                        </td>
                        <td class="input-field-column nopaddingall">
                          <input type="text" class="table-input-field form-control" [(ngModel)]="location.city" name="city{{i}}" #city="ngModel" [disabled]="true">
                        </td>
                        <td class="input-field-column nopaddingall">
                          <input type="text" class="table-input-field form-control" [(ngModel)]="location.stateCode" name="stateCode{{i}}" #stateCode="ngModel" [disabled]="true">
                        </td>
                      </tr>
                    </tbody>
                  </table> 

                  <div *ngIf="selectedConfigTypeObj.name=='person' && personSearched">
                    <div class=" row">
                      <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                        <div class="form-field-wrap">
                          <label for="lastName">Last Name</label>
                          <input type="text" class="form-control" name="lastName" [(ngModel)]="personDetails.lastName" #lastName="ngModel" [disabled]="formDisabled">
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                        <div class="form-field-wrap">
                          <label for="firstName">First Name</label>
                          <input type="text" class="form-control" name="firstName" [(ngModel)]="personDetails.firstName" #firstName="ngModel" [disabled]="formDisabled">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 col-md-6 col-lg6 form-group">
                        <div class="form-field-wrap">
                          <label for="identityTypeCode">ID Type</label>
                          <ng-select [items]="allIdTypeTypeRefs" bindValue="typeCode" bindLabel="legacyCode" [(ngModel)]="personIdentityDetails.identityTypeCode" #identityTypeCode="ngModel" name="identityTypeCode" [disabled]="formDisabled">
                          </ng-select>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                        <div class="form-field-wrap">
                          <label for="officialId">Official ID</label>
                          <input type="text" class="form-control" name="officialId" title="{{personIdentityDetails.officialId}}" [ngModel]="personIdentityDetails.officialId | mask:showMask"  (blur)="showMask = true" (focus)="showMask = !showMask"  (ngModelChange)="personIdentityDetails.officialId = $event" #officialId="ngModel" [disabled]="formDisabled">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                        <div class="form-field-wrap">
                          <label for="birthDate">Date of Birth</label>
                          <div class="calendar_box" [ngClass]="{'is-invalid': '', 'input-disabled': formDisabled}">
                            <input type="text" class="calendar-input-field" [owlDateTime]="dob" name="birthDate" [(ngModel)]="personDetails.birthDate" #birthDate="ngModel" [disabled]="formDisabled" [ngClass]="{'input-disabled': formDisabled}" placeholder="{{!formDisabled ? 'mm/dd/yyyy' : ''}}" dateFormat="'MM/dd/yyyy">
                            <owl-date-time [pickerType]="'calendar'" #dob></owl-date-time>
                            <img src="/assets/images/calendar_icon.svg" class="wh-20 calendar-img trigger" [owlDateTimeTrigger]="dob">
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                        <div class="form-field-wrap">
                          <label for="genderCode">Gender</label>
                          <ng-select [items]="genderDropdownValue" bindValue="id" bindLabel="name" [(ngModel)]="personDetails.genderCode"
                            #genderCode="ngModel" name="genderCode" [disabled]="formDisabled" [ngClass]="{ 'is-invalid': '' }" tabindex="8">
                          </ng-select>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-11 col-md-11 col-lg-11 row margin-bottom15"  *ngIf="allPersonParticipants.length > 0"> 
                      <a class="accordion-toggle collapse-link ml-0 collapsed" data-toggle="collapse" href="#openCollapse1" #openFirstCollapseLink (click)="showFirstCollapse=!showFirstCollapse;">
                        <i class="fa collapse-icon" aria-hidden="true"></i>
                      </a><label class="collapsedLabel">Participants</label>
                    </div>
                    <div id="openCollapse1" class="collapse"  *ngIf="allPersonParticipants.length > 0">
                      <div class="col-sm-12 col-md-12 col-lg-12 row ml-0 mr-0 pl-0 pr-0">
                        <table class="table inner-table">
                          <tbody>
                            <tr>
                              <th>Inception Date</th>
                              <th>Location</th>
                              <th>Number</th>
                            </tr>
                            <tr *ngFor="let participant of allPersonParticipants; let i=index;">
                              <td class="lable-column">{{participant.inceptionDate | parseDate}}</td>
                              <td class="lable-column">{{participant.participantLocationName}}</td>
                              <td class="lable-column">{{participant.dosimetryParticipantId}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="col-sm-11 col-md-11 col-lg-11 row margin-bottom15" *ngIf="personPregnancyDetails.length > 0"> 
                      <a class="accordion-toggle collapse-link ml-0 collapsed" data-toggle="collapse" href="#openCollapse2" #openSecondCollapseLink (click)="showSecondCollapse=!showSecondCollapse;">
                        <i class="fa collapse-icon" aria-hidden="true"></i>
                      </a><label class="collapsedLabel">Pregnancy</label>
                    </div>
                    <div id="openCollapse2" class="collapse" *ngIf="personPregnancyDetails.length > 0">
                      <div class="col-sm-12 col-md-12 col-lg-12 row ml-0 mr-0 pl-0 pr-0">
                        <table class="table inner-table">
                          <tbody>
                            <tr>
                              <th>Conception Date</th>
                              <th>Declaration Date</th>
                            </tr>
                            <tr *ngFor="let pregnancyDetail of personPregnancyDetails; let i=index;">
                              <td class="lable-column">{{(pregnancyDetail.conceptionDate !== null) ? (pregnancyDetail.conceptionDate | parseDate) : ''}}</td>
                              <td class="lable-column">{{(pregnancyDetail.declarationDate!== null) ? (pregnancyDetail.declarationDate | parseDate) : ''}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>  
        </div>
      </div>
    </div>
  </div>
</div>
