.right-container {
    position: fixed;
    left: 60px;
    z-index: 2;
    .panel {
        width: 96%;
        margin-bottom: 5px;
        background-color: #fff;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        .panel-heading {
            padding: 13px 15px;
            border-bottom: 1px solid transparent;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            .ra-cancel-btn {
                text-align: right;
                .sec-button-link {
                    height: 30px;
                }
            }
            .panel-title {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 1.2rem;
                font-weight: bold;
                color: inherit;
            }
        }
    }
}
.card-list-container {
    top: 60px;
    padding-right: 5px;
    padding-bottom: 50px;
    .cards-left-panel {
        .card-listing {
            background: #D8D8D8;
            height: auto;
            padding-top: 10px;
            padding-bottom: 2px;
            .manage-each-card {
                padding: 5px;
                margin-bottom: 10px;
                background-color: #fff;
                font-size: 11px;
                border: 1px solid #fff;
                box-shadow: 1px 1px 2px #9B9B9B;
                color: #000;
                height: 45px;
                .card-style {
                    width: 100%;
                    font-size: 15px;
                    padding-top: 9px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    .card-text {
                        float: left;
                        font-size: 14px;
                        padding-left: 10px;
                        font-weight: bold;
                        color: #3498DB;
                        cursor: pointer;
                    }
                    .card-icon {
                        float: right;
                        text-align: right;
                    }
                }
            }
            .manage-each-card:hover {
                border: 1px solid #9B9B9B;
                background: #ccc;
            }
            .manage-each-card.active, .manage-each-card.active:hover {
                border: 1px solid #9B9B9B;
                background: #C8C8D2;
            }
        }
    }
    .card-view-outer-section {
        height: auto;
        .card-view-outer {
            background: #D8D8D8;
            width: 100%;
            height: auto;
            padding: 10px 15px;
            .card-view-outer-panel {
                width: 100%;
                height: auto;
                background-color: #fff;
                border: 1px solid #9B9B9B;
                .card-name-section {
                    overflow: hidden;
                    width: 100%;
                    padding: 10px 5px;
                    margin-bottom: 10px;
                    text-align: left;
                    border-bottom: 1px solid #9B9B9B;
                    .card-name {
                        float: left;
                        font-size: 18px;
                        font-weight: bold;
                        margin: 7px;
                    }
                    .contam-button-section {
                        margin-top: 2px;
                        margin-right: 5px;
                    }
                }
                .card-subitem-list-container {
                    margin: 0px 5px 0 5px;
                    height: auto;
                    clear: both;
                    table.inner-table {
                        font-size: 14px;
                        width: 100%;
                        border-collapse: separate;
                        border-spacing: 3px;
                        border-color: #9B9B9B;
                        th {
                            background: #D8D8D8;
                            border: 1px solid #2e2e2f;
                            font-weight: bold;
                            text-align: center;
                            font-size: 15px;
                        }
                        td.lable-column {
                            border: 1px solid #2e2e2f;
                        }
                        .input-field-column {
                            border-top: 0px !important;
                        }
                        .table-input-field {
                            height: 40px !important;
                            border: 1px solid #2e2e2f;
                            font-size: 14px;
                            text-align: left;
                        }
                        .form-control {
                            border-radius: 0;
                            height: 45px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

.panel-default>.panel-heading {
    color: #333;
    border-color: #ddd;
}
.margin-right10 {
    margin-right: 10px !important;
}
.save-button {
    height: 30px;
    margin-right: 25px;
    padding: 8px 25px;
    background: #ffffff;
    color: #D0021B;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #979797;
    border-style: inset;
    cursor: pointer;
    text-transform: uppercase;
}
.edit-button {
    height: 30px;
    margin-right: 3px;
    padding: 8px 25px;
    background: #ffffff;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #979797;
    border-style: inset;
    cursor: pointer;
    text-transform: uppercase;
}
.cancel-button {
    height: 30px;
    padding: 8px 16px;
    background: #f1f1f1;
    color:#000;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #979797;
    border-style: inset;
    cursor: pointer;
    text-transform: uppercase;
}