<div class="wrapper">
  <!-- Header- Start -->
  <qnr-header></qnr-header>
  <!-- Header- End -->

  <!-- Page Content- Start -->
  <div class="container-fluid" id="content">
    <div class="row inner-wrapper">
      <!-- Sidebar -->
      <qnr-navbar></qnr-navbar>
      <!-- Sidebar -->

      <div class="col-md-11 col-lg-11 col-sm-11 sa-container">
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
  <!-- Page Content- End -->

  <!-- Footer- Start -->
  <!-- Footer- End -->
</div>

