@import "./../../../assets/css/styles-variables";

.sa-navbar {
    position: fixed;
    overflow: hidden;
    width:75px;
    height: 100%;
    z-index: 3;
    background: #000000;
}

#sidebar {
    background: $navbar-bg;

    mat-tab-group {
        width:100%;
        .mat-tab-header{
            width: 100%;
        }
        .mat-tab-header-pagination {
            display: none;
        }
    }
    .menu_icons {
        width: 100%;
        height: 100%;
        display: inline-block;
    }
    .menu_home {
        background: url(/assets/images/wow-house-icon.svg) no-repeat center center;
        background-size: 58% !important;
    }
    .menu_home:hover, .menu_home.active {
        background: #c8c8c8 url(/assets/images/wow-house-icon-selected.svg) no-repeat center center;
        background-size: 58% !important;
    }
    .menu_record {
        background: url(/assets/images/hp-green-icon.png) no-repeat center center;
        background-size: 70%;
    }
    .menu_record:hover, .menu_record.active {
        background: #D0E276 url(/assets/images/hp-blck-icon.png) no-repeat center center;
        background-size: 70%;
    }
    .menu_contanimation {
        background: url(/assets/images/contamination-event.png) no-repeat center center;
        background-size: 70%;
    }
    .menu_contanimation:hover, .menu_contanimation.active {
        background: #FF7575 url(/assets/images/contamination-active.png) no-repeat center center;
        background-size: 70%;
    }
    .menu_quarterly {
        background: url(/assets/images/patients_icon_normal.png) no-repeat center center;
        background-size: 58% !important;
    }
    .menu_quarterly:hover, .menu_quarterly.active {
        background: #F9C916 url(/assets/images/patients_icon_selected.png) no-repeat
    center center;
        background-size: 58% !important;
    }
    .menu_report {
        background: url(/assets/images/wow-graph-icon.png) no-repeat center center;
        background-size: 52%;
    }
    .menu_report:hover, .menu_report.active {
        background: #d3cdb3 url(/assets/images/wow-graph-icon-selected.svg) no-repeat center center;
    }
    .menu_configure {
        background: url(/assets/images/wow-gears-icon.svg) no-repeat center center;
        background-size: 55%;
    }
    .menu_configure:hover, .menu_configure.active {
        background: #9B9B9B url(/assets/images/wow-gears-icon-selected.svg) no-repeat center center;
        background-size: 55%;
    }

    ul{
        li {
            display: block;
            border-bottom: 1px solid $navbar-border-color;
            height: 70px;
            cursor: pointer;
        }    
    }
    nav{
        a{
            padding: 15px 10px;
            color: $navbar-font-color;
            font-size: $navbar-font-size;
            display: block;
            border-bottom: 1px solid $navbar-border-color;
            &:hover{
                opacity: 1;
                text-decoration: none
            }
        }
    }
    .listTab {
        position: fixed;
        height: 100%;
        left: 75px;
        top: 94px;
        font-size: 12px;
        color: #c8c8d2;
        background-color: #2e2e2f;
        width: 175px;
        border-left: 1px solid #ffffff;
    }
    .listTab li {
        height: 38px;
        text-align: left;
        border-bottom: 1px solid $navbar-font-size;
        list-style-type: none;
        z-index: 1000;
    }
    .submenu_header_desp {
        width: 100%;
        display: inline-block;
    }
    .listTab a {
        padding: 10px;
        width: 174px;
        text-align: left;
        display: inline-block;
        color: #979797;
    }
    .listTab li a:hover {
        color: #ffffff;
    }
    
}
.modal-content {
    border: 5px solid #c8c8d2;
    border-radius: 0px;
    .modal-header {
        background: #c8c8d2;
        border-radius: 0px !important;
        border-bottom: 0px;
        padding: 5px 5px;
    }
    .modal-body {
        font-size: 14px;
        line-height: 1.42857143;
    }
    .modal-footer {
        border-top: 0px;
    }
}
.save-button {
    height: 30px;
    margin-right: 25px;
    padding: 8px 25px;
    background: #ffffff;
    color: #D0021B;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #979797;
    border-style: inset;
    cursor: pointer;
    text-transform: uppercase;
}
.cancel-button {
    height: 30px;
    padding: 8px 16px;
    background: #fff;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #979797;
    border-style: inset;
    cursor: pointer;
    text-transform: uppercase;
}
button.close {
    outline: none !important;
}