@import "../assets/css/styles-variables";

.wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#content {
    position: relative;
    overflow-y: scroll;
    .inner-wrapper {
        position: relative;
        height: calc(100vh - 65px); // Subtracting header height from container height
        
        .sa-container {
            padding-top: 0;
            margin-left: 100px;            
        }
    }
}