@import "./../../../assets/css/styles-variables";

#header {
    min-height: 65px;
    background: $header-bg;
    overflow: hidden;
    padding: 5px 10px 5px 10px;
}
.logo {
    h2 {
    font-size: 20px;
        span {
            color:red;
        }
    }
    p {
       color: red;
       margin-top: 5px;
       font-weight: bold; 
    }
}
.logged-user {
    text-align: right;
    label {
        font-weight: bold;
        margin-right: 5px;
    }
}
.header-buttons {
    text-align: right;
    padding-right: 2rem;
    a.prim-button-link {
        padding: 5px 16px;
        background: #fff;
        color: #D0021B;
        font-size: 12px;
        font-weight: bold;
        border-style: inset;
        cursor: pointer;
        text-transform: uppercase;
        border: 1px solid #979797;
        width: 82px !important;
        text-align: center;
        height: 30px;
    }
    a:hover {
        text-decoration: none;
    }
}
.header_line {
    height: 8px;
    background-color: #e41f35;
}

@media (max-width: 767px) and (min-width: 0px) {
    .logo {
        text-align: center;
    }
    .logged-user {
        text-align: left;
        margin-top: 10px;
    }
    .header-buttons {
        text-align: right;
        margin-top:-10px;
        margin-bottom: 10px;
        padding-right: 1rem;
    }
}
