<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  {{message}}
</div>
<div class="modal-footer">
  <button class="save-button float-left margin-right10" data-dismiss="modal" (click)="activeModal.close()">No</button>
  <button class="cancel-button float-right" (click)="activeModal.close(true)" >Yes</button>
</div>
