<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 right-container">
    <div class="panel panel-default">
      <div class="panel-heading lvoilet-panel text-left row">
        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
          <h3 class="panel-title">External Dose Records</h3>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 ra-cancel-btn">
          <a routerLink="/dashboard" class="none-deco"><span class="sec-button-link" role="button">Close</span></a>
        </div>
      </div>
    </div>
    <form name="employeeSearchForm" #employeeSearchForm="ngForm" (ngSubmit)="submitEmployeeSearch()" novalidate>
      <div class="search-section row">
        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 row">
          <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 emp-search">
            <label>Employee Name / Participant #</label>
            <div style="position: relative;">
              <input type="text" class="form-control search-input" #employee 
              (input)="searchEmployee(employee.value)" name="selectedEmployee" 
              [(ngModel)]="employeeSearch.selectedEmployee" #selectedEmployee="ngModel" 
              autocomplete="off" 
              (ngModelChange)="onEmployeeSearchClear()" [ngClass]="{'is-invalid':searchEmployeeError}" (blur)="hideEmployeeSearchResult()">
              <ul class="emp-search-result" [hidden]="!hideSearchList">
                <li class="emp-search-options" *ngFor="let employee of allEmployees$ | async" (click)="onSelectSearchEmployee(employee)">
                  {{employee.lastName}}{{employee.firstName!=='' ? ", "+employee.firstName :''}}{{employee.participantId !== null ? " - "+employee.participantId :''}} 
                </li>
                <!-- <li *ngIf="allEmpData.length == 0 && employeeSearch.selectedEmployee !='' && employeeSearch.selectedEmployee != null" class="emp-search-options">No match found.
                </li> -->
              </ul>
            </div>
            <div class="error" *ngIf="searchEmployeeError">{{searchEmployeeErrorMsg}}</div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
            <label>Start Date</label>
            <mat-form-field class="function_time_box" [ngClass]="{'is-invalid':searchDateError}">
              <input matInput [matDatepicker]="picker" 
                name="startDate" [(ngModel)]="employeeSearch.startDate" #startDate="ngModel" 
                (dateInput)="startDateSelected($event)"
                placeholder="mm/dd/yyyy">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div class="error" *ngIf="searchDateError || startDate.invalid">{{searchDateErrorMsg}}</div>
          </div> 
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
          <div class="search-button-section float-right">
            <button class="save-button float-left">Search</button>
            <button class="cancel-button float-left margin-right25" (click)="onResetEmployeeSearchForm($event)">Clear</button>
            <button class="save-button float-left" [disabled]="!selectedEmployeeDetails.isPerson || disableAddNew" [ngClass]="{'disable-button': !selectedEmployeeDetails.isPerson || disableAddNew}" (click)="onAddNewExternalDosimeter($event)">Add New</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 card-list-container row">
    <div class="col-sm-3 col-md-3 col-lg-3">
      <div class="no-result" *ngIf="noExternalResult">No results found.</div>
      <div class="cards-left-panel" *ngIf="allExternalDoseResults.length>0">
        <div class="col-md-12 col-sm-12 col-lg-12 card-listing">
          <div class="card-repeat" *ngFor="let externalDoseResult of allExternalDoseResults; let i=index" #clickShowEDRLink>
            <div class="manage-each-card" [ngClass]="{'active': i===selectedExternalDose}">
              <div class="card-style">
                <div class="card-icon">
                  <a class="enable-cursor" (click)="onEnableExternalDoseResultEdit(i, externalDoseResult, $event)"><i class="fas fa-edit" aria-hidden="true"></i></a>
                </div>
                <a class="card-text" title="{{ (externalDoseResult.person.lastName===null) ? 'title' : ((externalDoseResult.person.firstName===null) ? externalDoseResult.person.lastName : ((externalDoseResult.participant.dosimetryParticipantId===null) ? externalDoseResult.person.lastName+', '+externalDoseResult.person.firstName : externalDoseResult.person.lastName+', '+externalDoseResult.person.firstName+' - '+externalDoseResult.participant.dosimetryParticipantId ))}}" (click)="onShowExternalDoseResult(i, externalDoseResult)" >
                  <span *ngIf="externalDoseResult.person.lastName!==null">{{externalDoseResult.person.lastName}}</span>
                  <span *ngIf="externalDoseResult.person.firstName!==null">, {{externalDoseResult.person.firstName}}</span>
                  <span *ngIf="externalDoseResult.participant.dosimetryParticipantId!==null"> - {{externalDoseResult.participant.dosimetryParticipantId}}</span>
                </a>
                <p class="card-date">{{externalDoseResult.startDate | parseDate}} - {{externalDoseResult.endDate | parseDate}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9 card-view-outer-section padding-lr-zero" *ngIf="showDetails">
      <div class="card-view-outer">
        <div class="card-view-outer-panel">
          <form name="updateExternalResultForm" #updateExternalResultForm="ngForm" (ngSubmit)="updateExternalResultForm.form.valid && onUpdateExternalDoseResult()" novalidate>  
            <div class="card-name-section">
              <div class="card-name">
                <span *ngIf="externalDoseResultObj.person.lastName!==null">{{externalDoseResultObj.person.lastName}}</span>
                <span *ngIf="externalDoseResultObj.person.firstName!==null">, {{externalDoseResultObj.person.firstName}}</span>
                <span *ngIf="externalDoseResultObj.participant.dosimetryParticipantId!==null"> - {{externalDoseResultObj.participant.dosimetryParticipantId}}</span>
              </div>
              <div class="contam-button-section float-right" *ngIf="formDisabled">
                <button type="button" class="cancel-button margin-right25 float-left" (click)="onCancelExternalDoseResult($event)" >Cancel</button>
                <button class="edit-button float-left" (click)="onEnableExternalDoseResultEdit(selectedExternalDose, externalDoseResultObj, $event)">Edit</button>
              </div>
              <div class="contam-button-section float-right" *ngIf="!formDisabled">
                <button type="submit" class="save-button float-left" [ngClass]="{'is-disabled': !updateExternalResultForm.dirty}" [disabled]="!updateExternalResultForm.dirty">Save</button>
                <button type="button" class="cancel-button float-right" (click)="onCancelExternalDoseResultEdit()" >Cancel</button>
              </div>
            </div>
            <div class="card-subitem-list-container">
              <div class="ui-helper-reset">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <div class="col-sm-6 col-md-6 col-lg6 form-group">
                    <div class="form-field-wrap">
                      <label for="location">Location<span class="req">*</span></label>
                      <ng-select [items]="allLocations"
                        bindValue="locationId"
                        bindLabel="locationNameForDropdown"
                        placeholder=""
                        [(ngModel)]="externalDoseResultObj.locationId" #locationId="ngModel" name="locationId" [disabled]="formDisabled" [ngClass]="{ 'is-invalid': updateExternalResultForm.submitted && locationId.errors?.required }" tabindex="1" required>
                      </ng-select>
                    </div>
                    <div *ngIf="updateExternalResultForm.submitted && locationId.invalid" class="invalid-feedback">
                      <div *ngIf="locationId.errors.required">Location is required</div>
                    </div>
                  </div>
                  <div class="col-sm-11 col-md-11 col-lg-11 row">
                    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                      <div class="form-field-wrap">
                        <label for="startDate">Start Date<span class="req">*</span></label>
                        <div class="calendar_box" [ngClass]="{'input-disabled': formDisabled, 'is-invalid': (updateExternalResultForm.submitted && startDate.errors?.required) || startDateError}">
                          <input type="text" class="calendar-input-field" [owlDateTime]="dt2" name="startDate" [(ngModel)]="externalDoseResultObj.startDate" #startDate="ngModel" [disabled]="formDisabled" [ngClass]="{'input-disabled': formDisabled}" tabindex="2" (dateTimeChange)="startDateExtDoseSelected($event)" placeholder="{{!formDisabled ? 'mm/dd/yyyy' : ''}}" required >
                          <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                          <img src="/assets/images/calendar_icon.svg" class="wh-20 calendar-img trigger" [owlDateTimeTrigger]="dt2">
                        </div>
                      </div>
                      <div *ngIf="updateExternalResultForm.submitted && startDate.invalid" class="invalid-feedback">
                        <div *ngIf="startDate.errors.required">Start date is required</div>
                      </div>
                      <div *ngIf="startDateError && (updateExternalResultForm.submitted && startDate.valid)" class="invalid-feedback">{{startDateErrorMsg}}</div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                      <div class="form-field-wrap">
                        <label for="badgeUseTypeCode">Badge Use Type<span class="req">*</span></label>
                        <ng-select [items]="allBadgeUseTypeRefs"
                          bindValue="typeCode"
                          bindLabel="description"
                          placeholder=""
                          [(ngModel)]="externalDoseResultObj.badgeUseTypeCode" #badgeUseTypeCode="ngModel" name="badgeUseTypeCode" [disabled]="formDisabled" [ngClass]="{ 'is-invalid': updateExternalResultForm.submitted && badgeUseTypeCode.errors?.required }" tabindex="7" required>
                        </ng-select>
                      </div>
                      <div *ngIf="updateExternalResultForm.submitted && badgeUseTypeCode.invalid" class="invalid-feedback">
                        <div *ngIf="badgeUseTypeCode.errors.required">Badge use type is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-11 col-md-11 col-lg-11 row">
                    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                      <div class="form-field-wrap">
                        <label for="endDate">End Date<span class="req">*</span></label>
                        <div class="calendar_box" [ngClass]="{'input-disabled': formDisabled, 'is-invalid': updateExternalResultForm.submitted && endDate.errors?.required}">
                          <input type="text" class="calendar-input-field" [owlDateTime]="dt3" name="endDate" [(ngModel)]="externalDoseResultObj.endDate" #endDate="ngModel" [disabled]="formDisabled" [ngClass]="{'input-disabled': formDisabled}" tabindex="3" placeholder="{{!formDisabled ? 'mm/dd/yyyy' : ''}}" required >
                          <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                          <img src="/assets/images/calendar_icon.svg" class="wh-20 calendar-img trigger" [owlDateTimeTrigger]="dt3">
                        </div>
                      </div>
                      <div *ngIf="updateExternalResultForm.submitted && endDate.invalid" class="invalid-feedback">
                        <div *ngIf="endDate.errors.required">End date is required</div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                      <div class="form-field-wrap">
                        <label for="dosimeterTypeCode">Dosimeter Type<span class="req">*</span></label>
                        <ng-select [items]="allDosimeterTypeRefs"
                          bindValue="typeCode"
                          bindLabel="description"
                          placeholder=""
                          [(ngModel)]="externalDoseResultObj.dosimeterTypeCode" #dosimeterTypeCode="ngModel" name="dosimeterTypeCode" [disabled]="formDisabled" [ngClass]="{ 'is-invalid': updateExternalResultForm.submitted &&dosimeterTypeCode.errors?.required }" tabindex="8" required>
                        </ng-select>
                      </div>
                      <div *ngIf="updateExternalResultForm.submitted && dosimeterTypeCode.invalid" class="invalid-feedback">
                        <div *ngIf="dosimeterTypeCode.errors.required">Dosimeter type is required</div>
                      </div>
                    </div>  
                  </div>
                  <div class="col-sm-11 col-md-11 col-lg-11 row">
                    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                      <div class="form-field-wrap">
                        <label for="deepDoseEquQty">D.D.E. (mrem)<span class="req">*</span></label>
                        <input type="number" class="form-control" name="deepDoseEquQty" [(ngModel)]="externalDoseResultObj.deepDoseEquQty" #deepDoseEquQty="ngModel" [disabled]="formDisabled" min="1" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" [ngClass]="{ 'is-invalid': updateExternalResultForm.submitted && deepDoseEquQty.errors?.required }" tabindex="4" required>
                      </div>
                      <div *ngIf="updateExternalResultForm.submitted && deepDoseEquQty.invalid" class="invalid-feedback">
                        <div *ngIf="deepDoseEquQty.errors.required">D.D.E. (mrem) is required</div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                      <div class="form-field-wrap">
                        <label for="doseDerivationCode">Dose Derivation<span class="req">*</span></label>
                        <ng-select [items]="allDoseDerivationTypeRefs"
                          bindValue="typeCode"
                          bindLabel="description"
                          placeholder=""
                          [(ngModel)]="externalDoseResultObj.doseDerivationCode" #doseDerivationCode="ngModel" name="doseDerivationCode" [disabled]="formDisabled" [ngClass]="{ 'is-invalid': updateExternalResultForm.submitted && doseDerivationCode.errors?.required }" tabindex="9" required>
                        </ng-select>
                      </div>  
                      <div *ngIf="updateExternalResultForm.submitted && doseDerivationCode.invalid" class="invalid-feedback">
                        <div *ngIf="doseDerivationCode.errors.required">Dose derivation is required</div>
                      </div>
                    </div>  
                  </div>
                  <div class="col-sm-11 col-md-11 col-lg-11 row">
                    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                      <div class="form-field-wrap">
                        <label for="lensDoseEquQty">L.D.E. (mrem)<span class="req">*</span></label>
                        <input type="number" class="form-control" name="lensDoseEquQty" [(ngModel)]="externalDoseResultObj.lensDoseEquQty" #lensDoseEquQty="ngModel" [disabled]="formDisabled" min="1" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" [ngClass]="{ 'is-invalid': updateExternalResultForm.submitted && lensDoseEquQty.errors?.required }" tabindex="5" required>
                      </div>
                      <div *ngIf="updateExternalResultForm.submitted && lensDoseEquQty.invalid" class="invalid-feedback">
                        <div *ngIf="lensDoseEquQty.errors.required">L.D.E. (mrem) is required</div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                      <div class="form-field-wrap"> 
                        <label for="doseUseCode">Dose Use<span class="req">*</span></label>
                        <ng-select [items]="allDoseUseTypeRefs"
                          bindValue="typeCode"
                          bindLabel="description"
                          placeholder=""
                          [(ngModel)]="externalDoseResultObj.doseUseCode" #doseUseCode="ngModel" name="doseUseCode" [disabled]="formDisabled" [ngClass]="{ 'is-invalid': updateExternalResultForm.submitted && doseUseCode.errors?.required }" tabindex="10" required>
                        </ng-select>
                      </div>
                      <div *ngIf="updateExternalResultForm.submitted && doseUseCode.invalid" class="invalid-feedback">
                        <div *ngIf="doseUseCode.errors.required">Dose use is required</div>
                      </div>
                    </div>  
                  </div>
                  <div class="col-sm-11 col-md-11 col-lg-11 row">
                    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                      <div class="form-field-wrap">
                        <label for="shallowDoseEquQty">S.D.E. (mrem)<span class="req">*</span></label>
                        <input type="number" class="form-control" name="shallowDoseEquQty" [(ngModel)]="externalDoseResultObj.shallowDoseEquQty" #shallowDoseEquQty="ngModel" [disabled]="formDisabled" min="1" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" [ngClass]="{ 'is-invalid': updateExternalResultForm.submitted && shallowDoseEquQty.errors?.required }" tabindex="6" required>
                      </div>
                      <div *ngIf="updateExternalResultForm.submitted && shallowDoseEquQty.invalid" class="invalid-feedback">
                        <div *ngIf="shallowDoseEquQty.errors.required">S.D.E. (mrem) is required</div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                      <div class="form-field-wrap">
                        <label for="doseStatusCode">Dose Status<span class="req">*</span></label>
                        <ng-select [items]="allDoseStatusTypeRefs"
                          bindValue="typeCode"
                          bindLabel="description"
                          placeholder=""
                          [(ngModel)]="externalDoseResultObj.doseStatusCode" #doseStatusCode="ngModel" name="doseStatusCode" [disabled]="formDisabled" [ngClass]="{ 'is-invalid': updateExternalResultForm.submitted && doseStatusCode.errors?.required }" tabindex="11" required>
                        </ng-select>
                      </div>
                      <div *ngIf="updateExternalResultForm.submitted && doseStatusCode.invalid" class="invalid-feedback">
                        <div *ngIf="doseStatusCode.errors.required">Dose status is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-11 col-md-11 col-lg-11 row margin-bottom15"> 
                    <a class="accordion-toggle collapse-link collapsed" data-toggle="collapse" href="#openCollapse" #openCollapseLink (click)="showCollapse=!showCollapse;">
                      <i class="fa collapse-icon" aria-hidden="true"></i>
                    </a>
                  </div>
                  <div id="openCollapse" class="collapse">
                    <div class="col-sm-11 col-md-11 col-lg-11 row">
                      <div class="col-sm-4 col-md-4 col-lg-4 form-group">
                        <div class="form-field-wrap">
                          <label for="doseConversionStandardCoder">Dose Conversion Standard</label>
                          <ng-select [items]="allDoseConversionTypeRefs"
                            bindValue="typeCode"
                            bindLabel="description"
                            placeholder=""
                            [(ngModel)]="externalDoseResultObj.doseConversionStandardCoder" #doseConversionStandardCoder="ngModel" name="doseConversionStandardCoder" [disabled]="formDisabled" tabindex="12">
                          </ng-select>
                        </div>
                      </div>
                      <div class="col-sm-4 col-md-4 col-lg-4 form-group">
                        <div class="form-field-wrap">
                          <label for="energyRangeCode">Energy Range</label>
                          <input type="text" class="form-control" name="energyRangeCode" [(ngModel)]="externalDoseResultObj.energyRangeCode" #energyRangeCode="ngModel" [disabled]="formDisabled" tabindex="13">
                        </div>
                      </div>
                      <div class="col-sm-4 col-md-4 col-lg-4 form-group">
                        <div class="form-field-wrap">
                          <label for="radiationQualityCode">Radiation Quality</label>
                          <ng-select [items]="allRadiationQualityTypeRefs"
                            bindValue="typeCode"
                            bindLabel="description"
                            placeholder=""
                            [(ngModel)]="externalDoseResultObj.radiationQualityCode" #radiationQualityCode="ngModel" name="radiationQualityCode" [disabled]="formDisabled" tabindex="14">
                          </ng-select>
                        </div>
                      </div>  
                    </div>
                    <div class="col-sm-11 col-md-11 col-lg-11 row">
                      <div class="col-sm-4 col-md-4 col-lg-4 form-group">
                        <div class="form-field-wrap">
                          <label for="controlIndFlag">Control Indicator</label>
                          <ng-select [items]="allControlIndicator"
                            bindValue="id"
                            bindLabel="name"
                            placeholder=""
                            [(ngModel)]="externalDoseResultObj.controlIndFlag" #controlIndFlag="ngModel" name="controlIndFlag" [disabled]="formDisabled" tabindex="15">
                          </ng-select>
                        </div>
                      </div>
                      <div class="col-sm-4 col-md-4 col-lg-4 form-group">
                        <div class="form-field-wrap">
                          <label for="noteCode">Note Code</label>
                          <input type="text" class="form-control" name="noteCode" [(ngModel)]="externalDoseResultObj.noteCode" #noteCode="ngModel" [disabled]="formDisabled" tabindex="16">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-11 col-md-11 col-lg-11 row">
                      <div class="col-sm-4 col-md-4 col-lg-4 form-group">
                        <div class="form-field-wrap">
                          <label for="ddePhotonPartQty">DDE Photon Part (mrem)</label>
                          <input type="number" class="form-control" name="ddePhotonPartQty" [(ngModel)]="externalDoseResultObj.ddePhotonPartQty" #ddePhotonPartQty="ngModel" [disabled]="formDisabled" min="1" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" tabindex="17">
                        </div>
                      </div>
                      <div class="col-sm-4 col-md-4 col-lg-4 form-group">
                        <div class="form-field-wrap">
                          <label for="ldePhotonPartQty">LDE Photon Part (mrem)</label>
                          <input type="number" class="form-control" name="ldePhotonPartQty" [(ngModel)]="externalDoseResultObj.ldePhotonPartQty" #ldePhotonPartQty="ngModel" [disabled]="formDisabled" min="1" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" tabindex="18">
                        </div>
                      </div>
                      <div class="col-sm-4 col-md-4 col-lg-4 form-group">
                        <div class="form-field-wrap">
                          <label for="sdePhotonPartQty">SDE Photon Part (mrem)</label>
                          <input type="number" class="form-control" name="sdePhotonPartQty" [(ngModel)]="externalDoseResultObj.sdePhotonPartQty" #sdePhotonPartQty="ngModel" [disabled]="formDisabled" min="1" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" tabindex="19">
                        </div>
                      </div>  
                    </div>
                    <div class="col-sm-11 col-md-11 col-lg-11 row">
                      <div class="col-sm-4 col-md-4 col-lg-4 form-group">
                        <div class="form-field-wrap">
                          <label for="deNeutronPartyQty">DE Neutron Part (mrem)</label>
                          <input type="number" class="form-control" name="deNeutronPartyQty" [(ngModel)]="externalDoseResultObj.deNeutronPartyQty" #deNeutronPartyQty="ngModel" [disabled]="formDisabled" min="1" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" tabindex="20">
                        </div>
                      </div>
                      <div class="col-sm-4 col-md-4 col-lg-4 form-group">
                        <div class="form-field-wrap">
                          <label for="sdeBetaPartQty">SDE Beta Part (mrem)</label>
                          <input type="number" class="form-control" name="sdeBetaPartQty " [(ngModel)]="externalDoseResultObj.sdeBetaPartQty " #sdeBetaPartQty ="ngModel" [disabled]="formDisabled" min="1" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" tabindex="21">
                        </div>
                      </div>
                    </div>
                  </div>  
                </div>
              </div>
            </div>
          </form>  
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9 card-view-outer-section padding-lr-zero" *ngIf="addNewForm">
      <div class="card-view-outer">
        <div class="card-view-outer-panel">
          <form name="addExternalResultForm" #addExternalResultForm="ngForm" (ngSubmit)="addExternalResultForm.form.valid && onSaveAddExternalDoseResult()" novalidate>  
            <div class="card-name-section">
              <div class="card-name">
                <span *ngIf="storedSelectedEmployeeDetails.lastName!=''">{{storedSelectedEmployeeDetails.lastName}}</span>
                <span *ngIf="storedSelectedEmployeeDetails.firstName!=''">, {{storedSelectedEmployeeDetails.firstName}}</span>
                <span *ngIf="storedSelectedEmployeeDetails.participantId!==null"> - {{storedSelectedEmployeeDetails.participantId}}</span>
              </div>
              <div class="contam-button-section float-right" *ngIf="!formDisabled">
                <button type="submit" class="save-button float-left" [ngClass]="{'is-disabled': !addExternalResultForm.dirty}" [disabled]="!addExternalResultForm.dirty">Save</button>
                <button type="button" class="cancel-button float-right" (click)="onCancelExternalDoseResultAdd()" >Cancel</button>
              </div>
            </div>
            <div class="card-subitem-list-container">
              <div class="ui-helper-reset">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <div class="col-sm-6 col-md-6 col-lg6 form-group">
                    <div class="form-field-wrap">
                      <label for="location">Location<span class="req">*</span></label>
                      <ng-select [items]="allLocations"
                        bindValue="locationId"
                        bindLabel="locationNameForDropdown"
                        placeholder=""
                        [(ngModel)]="addExtDoseResultFormData.locationId" #locationId="ngModel" name="locationId" [disabled]="formDisabled" [ngClass]="{ 'is-invalid': addExternalResultForm.submitted && locationId.errors?.required }" tabindex="1" required>
                      </ng-select>
                    </div>
                    <div *ngIf="addExternalResultForm.submitted && locationId.invalid" class="invalid-feedback">
                      <div *ngIf="locationId.errors.required">Location is required</div>
                    </div>
                  </div>
                  <div class="col-sm-10 col-md-10 col-lg-10 row">
                    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                      <div class="form-field-wrap">
                        <label for="startDate">Start Date<span class="req">*</span></label>
                        <div class="calendar_box" [ngClass]="{'input-disabled': formDisabled, 'is-invalid': (addExternalResultForm.submitted && startDate.errors?.required) || startDateError}">
                          <input type="text" class="calendar-input-field" [owlDateTime]="dt2" name="startDate" [(ngModel)]="addExtDoseResultFormData.startDate" #startDate="ngModel" [disabled]="formDisabled" [ngClass]="{'input-disabled': formDisabled}" tabindex="2" (dateTimeChange)="startDateExtDoseSelected($event)" placeholder="{{!formDisabled ? 'mm/dd/yyyy' : ''}}" required >
                          <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                          <img src="/assets/images/calendar_icon.svg" class="wh-20 calendar-img trigger" [owlDateTimeTrigger]="dt2">
                        </div>
                      </div>
                      <div *ngIf="addExternalResultForm.submitted && startDate.invalid" class="invalid-feedback">
                        <div *ngIf="startDate.errors.required">Start date is required</div>
                      </div>
                      <div *ngIf="startDateError && (addExternalResultForm.submitted && startDate.valid)" class="invalid-feedback">{{startDateErrorMsg}}</div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                      <div class="form-field-wrap">
                        <label for="badgeUseTypeCode">Badge Use Type<span class="req">*</span></label>
                        <ng-select [items]="allBadgeUseTypeRefs"
                          bindValue="typeCode"
                          bindLabel="description"
                          placeholder=""
                          [(ngModel)]="addExtDoseResultFormData.badgeUseTypeCode" #badgeUseTypeCode="ngModel" name="badgeUseTypeCode" [disabled]="formDisabled" [ngClass]="{ 'is-invalid': addExternalResultForm.submitted && badgeUseTypeCode.errors?.required }" tabindex="7" required>
                        </ng-select>
                      </div>
                      <div *ngIf="addExternalResultForm.submitted && badgeUseTypeCode.invalid" class="invalid-feedback">
                        <div *ngIf="badgeUseTypeCode.errors.required">Badge use type is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-10 col-md-10 col-lg-10 row">
                    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                      <div class="form-field-wrap">
                        <label for="endDate">End Date<span class="req">*</span></label>
                        <div class="calendar_box" [ngClass]="{'input-disabled': formDisabled, 'is-invalid': addExternalResultForm.submitted && endDate.errors?.required}">
                          <input type="text" class="calendar-input-field" [owlDateTime]="dt3" name="endDate" [(ngModel)]="addExtDoseResultFormData.endDate" #endDate="ngModel" [disabled]="formDisabled" [ngClass]="{'input-disabled': formDisabled}" tabindex="3" placeholder="{{!formDisabled ? 'mm/dd/yyyy' : ''}}" required >
                          <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                          <img src="/assets/images/calendar_icon.svg" class="wh-20 calendar-img trigger" [owlDateTimeTrigger]="dt3">
                        </div>
                      </div>
                      <div *ngIf="addExternalResultForm.submitted && endDate.invalid" class="invalid-feedback">
                        <div *ngIf="endDate.errors.required">End date is required</div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                      <div class="form-field-wrap">
                        <label for="dosimeterTypeCode">Dosimeter Type<span class="req">*</span></label>
                        <ng-select [items]="allDosimeterTypeRefs"
                          bindValue="typeCode"
                          bindLabel="description"
                          placeholder=""
                          [(ngModel)]="addExtDoseResultFormData.dosimeterTypeCode" #dosimeterTypeCode="ngModel" name="dosimeterTypeCode" [disabled]="formDisabled" [ngClass]="{ 'is-invalid': addExternalResultForm.submitted &&dosimeterTypeCode.errors?.required }" tabindex="8" required>
                        </ng-select>
                      </div>
                      <div *ngIf="addExternalResultForm.submitted && dosimeterTypeCode.invalid" class="invalid-feedback">
                        <div *ngIf="dosimeterTypeCode.errors.required">Dosimeter type is required</div>
                      </div>
                    </div>  
                  </div>
                  <div class="col-sm-10 col-md-10 col-lg-10 row">
                    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                      <div class="form-field-wrap">
                        <label for="deepDoseEquQty">D.D.E. (mrem)<span class="req">*</span></label>
                        <input type="number" class="form-control" name="deepDoseEquQty" [(ngModel)]="addExtDoseResultFormData.deepDoseEquQty" #deepDoseEquQty="ngModel" [disabled]="formDisabled" min="1" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" [ngClass]="{ 'is-invalid': addExternalResultForm.submitted && deepDoseEquQty.errors?.required }" tabindex="4" required>
                      </div>
                      <div *ngIf="addExternalResultForm.submitted && deepDoseEquQty.invalid" class="invalid-feedback">
                        <div *ngIf="deepDoseEquQty.errors.required">D.D.E. (mrem) is required</div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                      <div class="form-field-wrap">
                        <label for="doseDerivationCode">Dose Derivation<span class="req">*</span></label>
                        <ng-select [items]="allDoseDerivationTypeRefs"
                          bindValue="typeCode"
                          bindLabel="description"
                          placeholder=""
                          [(ngModel)]="addExtDoseResultFormData.doseDerivationCode" #doseDerivationCode="ngModel" name="doseDerivationCode" [disabled]="formDisabled" [ngClass]="{ 'is-invalid': addExternalResultForm.submitted && doseDerivationCode.errors?.required }" tabindex="9" required>
                        </ng-select>
                      </div>  
                      <div *ngIf="addExternalResultForm.submitted && doseDerivationCode.invalid" class="invalid-feedback">
                        <div *ngIf="doseDerivationCode.errors.required">Dose derivation is required</div>
                      </div>
                    </div>  
                  </div>
                  <div class="col-sm-10 col-md-10 col-lg-10 row">
                    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                      <div class="form-field-wrap">
                        <label for="lensDoseEquQty">L.D.E. (mrem)<span class="req">*</span></label>
                        <input type="number" class="form-control" name="lensDoseEquQty" [(ngModel)]="addExtDoseResultFormData.lensDoseEquQty" #lensDoseEquQty="ngModel" [disabled]="formDisabled" min="1" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" [ngClass]="{ 'is-invalid': addExternalResultForm.submitted &&  lensDoseEquQty.errors?.required }" tabindex="5" required>
                      </div>
                      <div *ngIf="addExternalResultForm.submitted && lensDoseEquQty.invalid" class="invalid-feedback">
                        <div *ngIf="lensDoseEquQty.errors.required">L.D.E. (mrem) is required</div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                      <div class="form-field-wrap"> 
                        <label for="doseUseCode">Dose Use<span class="req">*</span></label>
                        <ng-select [items]="allDoseUseTypeRefs"
                          bindValue="typeCode"
                          bindLabel="description"
                          placeholder=""
                          [(ngModel)]="addExtDoseResultFormData.doseUseCode" #doseUseCode="ngModel" name="doseUseCode" [disabled]="formDisabled" [ngClass]="{ 'is-invalid': addExternalResultForm.submitted && doseUseCode.errors?.required }" tabindex="10" required>
                        </ng-select>
                      </div>
                      <div *ngIf="addExternalResultForm.submitted && doseUseCode.invalid" class="invalid-feedback">
                        <div *ngIf="doseUseCode.errors.required">Dose use is required</div>
                      </div>
                    </div>  
                  </div>
                  <div class="col-sm-10 col-md-10 col-lg-10 row">
                    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                      <div class="form-field-wrap">
                        <label for="shallowDoseEquQty">S.D.E. (mrem)<span class="req">*</span></label>
                        <input type="number" class="form-control" name="shallowDoseEquQty" [(ngModel)]="addExtDoseResultFormData.shallowDoseEquQty" #shallowDoseEquQty="ngModel" [disabled]="formDisabled" min="1" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" [ngClass]="{ 'is-invalid': addExternalResultForm.submitted && shallowDoseEquQty.errors?.required }" tabindex="6" required>
                      </div>
                      <div *ngIf="addExternalResultForm.submitted && shallowDoseEquQty.invalid" class="invalid-feedback">
                        <div *ngIf="shallowDoseEquQty.errors.required">S.D.E. (mrem) is required</div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                      <div class="form-field-wrap">
                        <label for="doseStatusCode">Dose Status<span class="req">*</span></label>
                        <ng-select [items]="allDoseStatusTypeRefs"
                          bindValue="typeCode"
                          bindLabel="description"
                          placeholder=""
                          [(ngModel)]="addExtDoseResultFormData.doseStatusCode" #doseStatusCode="ngModel" name="doseStatusCode" [disabled]="formDisabled" [ngClass]="{ 'is-invalid': addExternalResultForm.submitted && doseStatusCode.errors?.required }" tabindex="11" required>
                        </ng-select>
                      </div>
                      <div *ngIf="addExternalResultForm.submitted && doseStatusCode.invalid" class="invalid-feedback">
                        <div *ngIf="doseStatusCode.errors.required">Dose status is required</div>
                      </div>
                    </div>
                  </div>    
                </div>
              </div>
            </div>
          </form>  
        </div>
      </div>
    </div>
  </div>
</div>
  