
.login-section {
    .login-wrap {
        padding-top:15%;
    
        h4{
            font-size:40px;
            color:#ff0000;
            margin-bottom:10px;
        }
        p {
            font-size: 20px;
            text-indent: 5px;
            a.link {
                font-size: 20px;
                text-decoration: underline;
            }
        }
        
    }
} 