<div class="row dashboard-box">
  <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
    <div class="panel panel-default">
      <div class="panel-heading yellow-panel text-center">
        <h3 class="panel-title">Remaining Reject Corrections</h3>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="row dashboard-box-section">
        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 box">
          <div class="reject-items status_number dboard_col_width">
            <h3 class="text-center box-content strong">Participant</h3>
            <div class="text-center box-title">{{counts?.participantRejectedCount}}</div>
            <!-- Safely Displaying Data with the Elvis Operator counts? -->
            <div class="last-proccessed">
              <p><label>Last Processed :</label><span>{{lastProcessedParticipant.jobStp}}</span></p>
              <p><label>Number Of Processed :</label><span>{{lastProcessedParticipant.processcount}}</span></p>
            </div>
            <div class="list-of-records" *ngIf="rejectedRecordListParticipant.length > 0">
              <ul>
                <li *ngFor="let participant of rejectedRecordListParticipant | slice:0:6">
                  <a class="link" (click)="onOpenParticipantRejectionModal(participant)">
                    <!-- <a class="link" (click)="onOpenEDRRejectionModal(EDR)"> -->
                    <b class="title">{{participant.participantNum}}</b>
                    <p class="name">{{participant.lastName}}</p>
                  </a>
                </li>
                <li *ngIf="rejectedRecordListParticipant.length>=6">
                  <button>
                    <i class="far fa-circle"></i>
                    <i class="far fa-circle"></i>
                    <i class="far fa-circle"></i>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 box">
          <div class="reject-items status_number dboard_col_width">
            <h3 class="text-center box-content strong">Ext. Dose Record</h3>
            <div class="text-center box-title">{{counts?.externalDoseResultRejectedCount}}</div>
            <div class="last-proccessed">
              <p><label>Last Processed :</label><span>{{lastProcessedEDR.jobStp}}</span></p>
              <p><label>Number Of Processed :</label><span>{{lastProcessedEDR.processcount}}</span></p>
            </div> 
            <div class="list-of-records" *ngIf="rejectedRecordListEDR.length > 0">
              <ul>
                <li *ngFor="let EDR of rejectedRecordListEDR | slice:0:6">
                  <a class="link" (click)="onOpenEDRRejectionModal(EDR)">
                    <b class="title">{{EDR.participantNum}}</b>
                    <p class="name">{{EDR.dosimeterDesc}}</p>
                  </a>
                </li>
                <li *ngIf="rejectedRecordListEDR.length>=6">
                  <button>
                    <i class="far fa-circle"></i>
                    <i class="far fa-circle"></i>
                    <i class="far fa-circle"></i>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading blue-panel text-center">
        <h3 class="panel-title">Remaining Flag</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 dashboard-box-section">
        <div class="flag-items status_number dboard_col_width">
          <h3 class="text-center box-content strong">Personnel</h3>
          <div class="text-center box-title">{{counts?.personnelFlagCount}}</div>
          <div class="list-of-records" *ngIf="rejectedRecordListPersonnel.length > 0">
            <ul>
              <li *ngFor="let Personnel of rejectedRecordListPersonnel | slice:0:6">
                  <a class="link" (click)="onOpenPersonnelFlagModal(Personnel)">
                  <b class="title">{{Personnel.lastName}}{{Personnel.firstName!==null ? ', '+Personnel.firstName : '' }}</b>
                  <p class="reason">{{Personnel.typeDesc}}</p>
                </a>
              </li>
              <li *ngIf="rejectedRecordListPersonnel.length>=6">
                <button>
                  <i class="far fa-circle"></i>
                  <i class="far fa-circle"></i>
                  <i class="far fa-circle"></i>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Reject particpipant modal -->
<ng-template #participantModal let-close="close">
  <form name="updateParticipantRejectionForm" class="modal-popup" #updateParticipantRejectionForm="ngForm" (ngSubmit)="onSaveParticipantRejectionDetail(updateParticipantRejectionForm)"
    novalidate>
    <div class="modal-header">
      <h5 class="modal-title" [ngClass]="{ 'error': participantNumRejectionFlag}">{{participantRejectionData.participantNum}}</h5>
      <i class="fas fa-info-circle invalid-icon" *ngIf="participantNumRejectionFlag">Contact IT</i>
      <button type="button" class="cancel-button float-right" (click)="onCancelParticipantRejectionDetails($event, updateParticipantRejectionForm)">Cancel</button>
      <button type="submit" class="save-button float-right" [disabled]="participantFormValid">Save</button>
    </div>
    <div class="modal-body">
      <div class="modal-form-section">
        <div class=" row">
          <div class="col-sm-6 col-md-6 col-lg-6 form-group">
            <div class="form-field-wrap">
              <label for="lastName">Name</label>
              <input type="text" class="form-control" name="lastName" [(ngModel)]="participantRejectionData.lastName" (ngModelChange)="participantValueChange(lastName)"
                #lastName="ngModel" [disabled]="lastNameDisableFlag" [ngClass]="{ 'is-invalid': lastNameRejectionFlag }" required>
              <i class="fas fa-info-circle invalid-icon" *ngIf="lastNameRejectionFlag"></i>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 row col-adjust">
            <div class="col-sm-6 col-md-6 col-lg-6 form-group">
              <div class="form-field-wrap">
                <label for="accountNum">Account</label>
                <!-- <input type="text" class="form-control" name="accountNum" [(ngModel)]="participantRejectionData.accountNum" (ngModelChange)="participantValueChange(accountNum)" #accountNum="ngModel" [disabled]="accountNumDisableFlag" [ngClass]="{ 'is-invalid': accountNumRejectionFlag }" required> -->

                <ng-select [items]="allAccounts" bindValue="dosimetryAccountId" bindLabel="dosimetryAccountId" [(ngModel)]="participantRejectionData.accountNum"
                      #accountNum="ngModel" name="accountNum" [disabled]="accountNumDisableFlag" [ngClass]="{ 'is-invalid': accountNumRejectionFlag }" (ngModelChange)="participantValueChange(accountNum)" placeholder="{{accountNumPlaceholder}}">
                </ng-select>
                <i class="fas fa-info-circle invalid-icon" *ngIf="accountNumRejectionFlag"></i>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 form-group">
              <div class="form-field-wrap">
                <label for="sampleDate">Inception Date</label>
                <div class="calendar_box" [ngClass]="{'is-invalid': inceptionDateRejectionFlag, 'input-disabled': inceptionDateDisableFlag}">
                  <input type="text" class="calendar-input-field" [owlDateTime]="incDate" name="inceptionDate" [(ngModel)]="participantRejectionData.inceptionDate"
                    (ngModelChange)="participantValueChange(inceptionDate)" #inceptionDate="ngModel" [disabled]="inceptionDateDisableFlag"
                    [ngClass]="{'input-disabled': inceptionDateDisableFlag}" placeholder="{{!formDisabled ? 'mm/dd/yyyy' : ''}}"
                    dateFormat="'MM/dd/yyyy">
                  <owl-date-time [pickerType]="'calendar'" #incDate></owl-date-time>
                  <img src="/assets/images/calendar_icon.svg" class="wh-20 calendar-img trigger" [owlDateTimeTrigger]="incDate">
                  <i class="fas fa-info-circle invalid-icon" *ngIf="inceptionDateRejectionFlag"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg6 form-group">
            <div class="form-field-wrap">
              <label for="location">Location Series</label>
              <ng-select [items]="allLocations" bindValue="seriesValue" bindLabel="locationNameForDropdownWithSeries" placeholder="{{locationPlaceholder}}"
                [(ngModel)]="participantRejectionData.series" (ngModelChange)="participantValueChange(series)" #series="ngModel" name="series"
                [disabled]="seriesDisableFlag" [ngClass]="{ 'is-invalid': seriesRejectionFlag }" required>
              </ng-select>
              <i class="fas fa-info-circle invalid-icon" *ngIf="seriesRejectionFlag"></i>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 row col-adjust">
            <div class="col-sm-6 col-md-6 col-lg-6 form-group">
              <div class="form-field-wrap">
                <label for="sex">Gender</label>
                <ng-select [items]="genderDropdownValue" bindValue="id" bindLabel="name" [(ngModel)]="participantRejectionData.sex"
                  (ngModelChange)="participantValueChange(sex)" #sex="ngModel" name="sex" [disabled]="sexDisableFlag" [ngClass]="{ 'is-invalid': sexRejectionFlag }"
                  required>
                </ng-select>
                <i class="fas fa-info-circle invalid-icon" *ngIf="sexRejectionFlag"></i>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 form-group">
              <div class="form-field-wrap">
                <label for="sampleDate">Conception Date</label>
                <div class="calendar_box" [ngClass]="{'is-invalid': conceptionDateRejectionFlag, 'input-disabled': conceptionDateDisableFlag}">
                  <input type="text" class="calendar-input-field" 
                  [owlDateTime]="conDate" name="conceptionDate" 
                  [(ngModel)]="participantRejectionData.conceptionDate"
                    (ngModelChange)="participantValueChange(conceptionDate)"
                     [ngClass]="{'input-disabled': conceptionDateDisableFlag}"
                    #conceptionDate="ngModel" [disabled]="conceptionDateDisableFlag" 
                    placeholder="{{!formDisabled ? 'mm/dd/yyyy' : ''}}"
                    required>
                  <owl-date-time [pickerType]="'calendar'" #conDate></owl-date-time>
                  <img src="/assets/images/calendar_icon.svg" class="wh-20 calendar-img trigger" [owlDateTimeTrigger]="conDate">
                </div>
                <i class="fas fa-info-circle invalid-icon" *ngIf="conceptionDateRejectionFlag"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6 form-group">
            <div class="form-field-wrap">
              <label for="derivedIntakeQty">ID Type</label>
              <!-- <input type="text" class="form-control" name="identificationType" [(ngModel)]="participantRejectionData.identificationType"
                (ngModelChange)="participantValueChange(identificationType)" #identificationType="ngModel" [disabled]="identificationTypeDisableFlag"
                [ngClass]="{ 'is-invalid': identificationTypeRejectionFlag }" required> -->

              <ng-select [items]="allIdTypeTypeRefs" bindValue="legacyCode" 
              bindLabel="description" [(ngModel)]="participantRejectionData.identificationType"
                #identificationType="ngModel" name="identificationType" [disabled]="identificationTypeDisableFlag" 
                [ngClass]="{ 'is-invalid': identificationTypeRejectionFlag }"  
                (ngModelChange)="participantValueChange(identificationType)" placeholder="{{idTypePlaceholder}}"
                tabindex="8">
              </ng-select>
              <i class="fas fa-info-circle invalid-icon" *ngIf="identificationTypeRejectionFlag"></i>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 form-group">
            <div class="form-field-wrap">
              <label for="derivedIntakeQty">ID Number</label>
              <input type="text" class="form-control" name="officialId" [(ngModel)]="participantRejectionData.officialId" #officialId="ngModel"
                (ngModelChange)="participantValueChange(officialId)" [disabled]="officialIdDisableFlag" [ngClass]="{ 'is-invalid': officialIdRejectionFlag }"
                required>
              <i class="fas fa-info-circle invalid-icon" *ngIf="officialIdRejectionFlag"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">Cancel</button>
    </div> -->
  </form>
</ng-template>
<!-- Reject particpipant modal -->

<!-- Reject EDR modal -->
<ng-template #EDRModal let-close="close">
  <form name="updateEDRRejectionForm" class="modal-popup" #updateEDRRejectionForm="ngForm" 
  (ngSubmit)="onSaveEDRRejectionDetails(updateEDRRejectionForm)"
    novalidate>
    <div class="modal-header">
      <h5 class="modal-title" [ngClass]="{ 'error': participantNumRejectionFlag}">{{EDRRejectionData.participantNum}}</h5>
      <i class="fas fa-info-circle invalid-icon" *ngIf="participantNumRejectionFlag">Contact IT</i>
      <button type="button" class="cancel-button float-right" (click)="onCancelEDRRejectionDetails($event, updateEDRRejectionForm)">Cancel</button>
      <button type="submit" class="save-button float-right" [disabled]="EDRFormValid">Save</button>
    </div>
    <div class="modal-body">
      <div class="modal-form-section">
        <div class="card-subitem-list-container">
          <div class="ui-helper-reset">
            <div class="col-sm-12 col-md-12 col-lg-12 row">
              <div class="col-sm-6 col-md-6 col-lg6 form-group">
                <div class="form-field-wrap">
                  <label for="location">Location</label>
                  <ng-select [items]="allLocations" bindValue="seriesValue" bindLabel="locationNameForDropdownWithSeries" placeholder="{{locationPlaceholder}}"
                    [(ngModel)]="EDRRejectionData.series" #series="ngModel" name="series" [disabled]="seriesDisableFlag" (ngModelChange)="EDRValueChange(series)"
                    [ngClass]="{ 'is-invalid': seriesRejectionFlag }" tabindex="1">
                  </ng-select>
                  <i class="fas fa-info-circle invalid-icon" *ngIf="seriesRejectionFlag"></i>
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                  <div class="form-field-wrap">
                    <label for="accountNum">Account</label>
                    <ng-select [items]="allAccounts" bindValue="dosimetryAccountId" 
                    bindLabel="dosimetryAccountId" [(ngModel)]="EDRRejectionData.accountNum"
                      #accountNum="ngModel" name="accountNum" [disabled]="accountNumDisableFlag" 
                      [ngClass]="{ 'is-invalid': accountNumRejectionFlag }"  
                      (ngModelChange)="EDRValueChange(accountNum)" placeholder="{{accountNumPlaceholder}}"
                      tabindex="8">
                    </ng-select>
                    <i class="fas fa-info-circle invalid-icon" *ngIf="accountNumRejectionFlag"></i>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 row">
                <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                  <div class="form-field-wrap">
                    <label for="startDate">Start Date</label>
                    <div class="calendar_box" [ngClass]="{'input-disabled': formDisabled}">
                      <input type="text" class="calendar-input-field" 
                      [owlDateTime]="startDateInput" name="startDate" 
                      [(ngModel)]="EDRRejectionData.startDate"
                        #startDate="ngModel" [disabled]="formDisabled" 
                        [ngClass]="{'input-disabled': formDisabled}" tabindex="2" (ngModelChange)="EDRValueChange(startDate)"
                        (dateTimeChange)="startDateExtDoseSelected($event)" 
                        placeholder="{{!formDisabled ? 'mm/dd/yyyy' : ''}}">
                      <owl-date-time [pickerType]="'calendar'" #startDateInput></owl-date-time>
                      <img src="/assets/images/calendar_icon.svg" class="wh-20 calendar-img trigger" [owlDateTimeTrigger]="startDateInput">
                    </div>
                  </div>                  
                  
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                  <div class="form-field-wrap">
                    <label for="badgeUseTypeCode">Badge Use Type</label>
                    <ng-select [items]="allBadgeUseTypeRefs" bindValue="legacyCode" bindLabel="legacyLabelForDropdown" [(ngModel)]="EDRRejectionData.useType"
                      #badgeUseTypeCode="ngModel" name="badgeUseTypeCode" 
                      [disabled]="formDisabled" 
                      (ngModelChange)="EDRValueChange(badgeUseTypeCode)"
                      tabindex="7">
                    </ng-select>
                  </div>
                  
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 row">
                <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                  <div class="form-field-wrap">
                    <label for="endDate">End Date</label>
                    <div class="calendar_box" [ngClass]="{'input-disabled': endDateDisableFlag, 'is-invalid': endDateRejectionFlag || endDateError}"
                    [ngClass]="{'input-disabled': endDateDisableFlag, 'is-invalid': endDateRejectionFlag}">
                      <input type="text" class="calendar-input-field" [owlDateTime]="endDateInput" name="endDate" [(ngModel)]="EDRRejectionData.endDate"
                        #endDate="ngModel" [disabled]="endDateDisableFlag" [ngClass]="{'input-disabled': endDateDisableFlag}" (ngModelChange)="EDRValueChange(endDate)"
                        tabindex="3" placeholder="{{!endDateDisableFlag ? 'mm/dd/yyyy' : ''}}">
                      <owl-date-time [pickerType]="'calendar'" #endDateInput></owl-date-time>
                      <img src="/assets/images/calendar_icon.svg" class="wh-20 calendar-img trigger" [owlDateTimeTrigger]="endDateInput">
                    </div>
                    <i class="fas fa-info-circle invalid-icon" *ngIf="endDateRejectionFlag"></i>
                  </div>
                  <div *ngIf="endDateError && (updateEDRRejectionForm.submitted && endDate.valid)" class="invalid-feedback">{{endDateErrorMsg}}</div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                  <div class="form-field-wrap">
                    <label for="dosimeterTypeCode">Dosimeter Type</label>
                    <ng-select [items]="allDosimeterTypeRefs" bindValue="legacyCode" bindLabel="legacyLabelForDropdown" [(ngModel)]="EDRRejectionData.dosimeterType"
                      #dosimeterTypeCode="ngModel" name="dosimeterTypeCode" [disabled]="dosimeterTypeCodeDisableFlag" [ngClass]="{ 'is-invalid': dosimeterTypeCodeRejectionFlag }"  
                      (ngModelChange)="EDRValueChange(dosimeterTypeCode)" placeholder="{{typeCodePlaceholder}}"
                      tabindex="8">
                    </ng-select>
                    <i class="fas fa-info-circle invalid-icon" *ngIf="dosimeterTypeCodeRejectionFlag"></i>
                  </div>                  
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 row">
                <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                  <div class="form-field-wrap">
                    <label for="deepDoseEquQty">D.D.E. (mrem)</label>
                    <input type="number" class="form-control" name="deepDoseEquQty" [(ngModel)]="EDRRejectionData.deepDoseEquivalent" #deepDoseEquQty="ngModel"
                      [disabled]="formDisabled" min="1" step="1" (ngModelChange)="EDRValueChange(deepDoseEquivalent)" tabindex="4">
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                  <div class="form-field-wrap">
                    <label for="doseDerivationCode">Dose Derivation</label>
                    <ng-select [items]="allDoseDerivationTypeRefs" bindValue="legacyCode" bindLabel="legacyLabelForDropdown" [(ngModel)]="EDRRejectionData.doseDerivation"
                      #doseDerivationCode="ngModel" name="doseDerivationCode" [disabled]="formDisabled" (ngModelChange)="EDRValueChange(doseDerivation)"
                      tabindex="9">
                    </ng-select>
                  </div>                  
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 row">
                <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                  <div class="form-field-wrap">
                    <label for="lensDoseEquQty">L.D.E. (mrem)</label>
                    <input type="number" class="form-control" name="lensDoseEquQty" [(ngModel)]="EDRRejectionData.lensDoseEquivalent" #lensDoseEquQty="ngModel"
                      [disabled]="formDisabled" min="1" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" (ngModelChange)="EDRValueChange(lensDoseEquivalent)"
                      [ngClass]="{ 'is-invalid': updateEDRRejectionForm.submitted && lensDoseEquQty.errors?.required }" tabindex="5">
                  </div>                  
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                  <div class="form-field-wrap">
                    <label for="doseUseCode">Dose Use</label>
                    <ng-select [items]="allDoseUseTypeRefs" bindValue="legacyCode" bindLabel="legacyLabelForDropdown" [(ngModel)]="EDRRejectionData.doseUse"
                      #doseUseCode="ngModel" name="doseUseCode" [disabled]="formDisabled" [ngClass]="{ 'is-invalid': updateEDRRejectionForm.submitted && doseUseCode.errors?.required }"
                      (ngModelChange)="EDRValueChange(doseUse)"
                      tabindex="10">
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 row">
                <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                  <div class="form-field-wrap">
                    <label for="shallowDoseEquQty">S.D.E. (mrem) </label>
                    <input type="number" class="form-control" name="shallowDoseEquQty" [(ngModel)]="EDRRejectionData.shallowDoseEquivalent" #shallowDoseEquQty="ngModel"
                      [disabled]="formDisabled" min="1" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" (ngModelChange)="EDRValueChange(shallowDoseEquivalent)"
                      [ngClass]="{ 'is-invalid': updateEDRRejectionForm.submitted && shallowDoseEquQty.errors?.required }"
                      tabindex="6">
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 form-group">
                  <div class="form-field-wrap">
                    <label for="doseStatusCode">Dose Status </label>
                    <ng-select [items]="allDoseStatusTypeRefs" bindValue="legacyCode" bindLabel="legacyLabelForDropdown" [(ngModel)]="EDRRejectionData.doseStatus"
                      #doseStatusCode="ngModel" name="doseStatusCode" [disabled]="formDisabled" [ngClass]="{ 'is-invalid': updateEDRRejectionForm.submitted && doseStatusCode.errors?.required }"  (ngModelChange)="EDRValueChange(doseStatus)"
                      tabindex="11">
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 row margin-bottom15"> 
            <a class="accordion-toggle collapse-link collapsed" data-toggle="collapse" href="#openCollapse" #openCollapseLink (click)="showCollapse=!showCollapse;">
              <i class="fa collapse-icon" aria-hidden="true"></i>
            </a>
          </div>
              <div id="openCollapse" class="collapse">
              <div class="col-sm-12 col-md-12 col-lg-12 row">
                <div class="col-sm-4 col-md-4 col-lg-4 form-group">
                  <div class="form-field-wrap">
                    <label for="doseConversionStandardCoder">Dose Conversion Standard</label>
                    <ng-select [items]="allDoseConversionTypeRefs" bindValue="legacyCode" bindLabel="legacyLabelForDropdown" [(ngModel)]="EDRRejectionData.doseConversionStandard"  (ngModelChange)="EDRValueChange(doseConversionStandardCoder)"
                      #doseConversionStandardCoder="ngModel" name="doseConversionStandardCoder"
                       [disabled]="formDisabled" tabindex="12">
                    </ng-select>
                  </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 form-group">
                  <div class="form-field-wrap">
                    <label for="energyRangeCode">Energy Range</label>
                    <input type="text" class="form-control" name="energyRangeCode" [(ngModel)]="EDRRejectionData.energyRange" #energyRangeCode="ngModel"
                      [disabled]="formDisabled" tabindex="13" (ngModelChange)="EDRValueChange(energyRangeCode)">
                  </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 form-group">
                  <div class="form-field-wrap">
                    <label for="radiationQualityCode">Radiation Quality</label>
                    <ng-select [items]="allRadiationQualityTypeRefs" bindValue="legacyCode" bindLabel="legacyLabelForDropdown" [(ngModel)]="EDRRejectionData.radiationQuality"
                      #radiationQualityCode="ngModel" name="radiationQualityCode"
                      (ngModelChange)="EDRValueChange(radiationQualityCode)" [disabled]="formDisabled" tabindex="14">
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 row">
                <div class="col-sm-4 col-md-4 col-lg-4 form-group">
                  <div class="form-field-wrap">
                    <label for="controlIndFlag">Control Indicator</label>
                    <ng-select [items]="allControlIndicator" bindValue="id" bindLabel="name" [(ngModel)]="EDRRejectionData.controlIndicator"
                    (ngModelChange)="EDRValueChange(controlIndicator)"
                      #controlIndFlag="ngModel" name="controlIndFlag" [disabled]="formDisabled" tabindex="15">
                    </ng-select>
                  </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 form-group">
                  <div class="form-field-wrap">
                    <label for="noteCode">Note Code</label>
                    <input type="text" class="form-control" name="noteCode" [(ngModel)]="EDRRejectionData.noteCode"
                    (ngModelChange)="EDRValueChange(noteCode)" #noteCode="ngModel" [disabled]="formDisabled"
                      tabindex="16">
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 row">
                <div class="col-sm-4 col-md-4 col-lg-4 form-group">
                  <div class="form-field-wrap">
                    <label for="ddePhotonPartQty">DDE Photon Part (mrem)</label>
                    <input type="number" class="form-control" name="ddePhotonPartQty" [(ngModel)]="EDRRejectionData.ddePhotonPart" #ddePhotonPartQty="ngModel"
                      [disabled]="formDisabled" min="1" step="1"
                      (ngModelChange)="EDRValueChange(ddePhotonPartQty)"
                      tabindex="17">
                  </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 form-group">
                  <div class="form-field-wrap">
                    <label for="ldePhotonPartQty">LDE Photon Part (mrem)</label>
                    <input type="number" class="form-control" name="ldePhotonPartQty" [(ngModel)]="EDRRejectionData.ldePhotonPart" #ldePhotonPartQty="ngModel"
                      [disabled]="formDisabled" min="1" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                      tabindex="18">
                  </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 form-group">
                  <div class="form-field-wrap">
                    <label for="sdePhotonPartQty">SDE Photon Part (mrem)</label>
                    <input type="number" class="form-control" name="sdePhotonPartQty" [(ngModel)]="EDRRejectionData.sdePhotonPart" #sdePhotonPartQty="ngModel"  (ngModelChange)="EDRValueChange(sdePhotonPartQty)"
                      [disabled]="formDisabled" min="1" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                      tabindex="19">
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 row">
                <div class="col-sm-4 col-md-4 col-lg-4 form-group">
                  <div class="form-field-wrap">
                    <label for="deNeutronPartyQty">DE Neutron Part (mrem)</label>
                    <input type="number" class="form-control" name="deNeutronPartyQty" [(ngModel)]="EDRRejectionData.deNeutronPart" #deNeutronPartyQty="ngModel"
                    (ngModelChange)="EDRValueChange(deNeutronPartyQty)"
                      [disabled]="formDisabled" min="1" step="1" 
                      tabindex="20">
                  </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 form-group">
                  <div class="form-field-wrap">
                    <label for="sdeBetaPartQty">SDE Beta Part (mrem)</label>
                    <input type="number" class="form-control" name="sdeBetaPartQty " [(ngModel)]="EDRRejectionData.sdeBetaPart " #sdeBetaPartQty="ngModel"
                    (ngModelChange)="EDRValueChange(sdeBetaPartQty)"
                      [disabled]="formDisabled" min="1" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                      tabindex="21">
                  </div>
                </div>
              </div>
              </div>  
            
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-template>
<!-- Reject EDR modal -->


<!-- Reject/Falg person modal -->
<ng-template #PersonnelModal let-close="close">
  <form name="updatePersonnelFlagForm" class="modal-popup" #updatePersonnelFlagForm="ngForm" (ngSubmit)="onSavePersonnelFlagDetail(updatePersonnelFlagForm)"
    novalidate>
    <div class="modal-header">
      <button type="button" class="cancel-button float-right" (click)="onCancelPersonnelFlagDetails($event, updatePersonnelFlagForm)">Cancel</button>
      <button type="submit" class="save-button float-right" [disabled]="personnelFormValid">Save</button>
    </div>
    <div class="modal-body">
      <div class="modal-form-section">
        <div class="col-sm-12 col-md-12 col-lg-12 row">
          <div class="col-sm-6 col-md-6 col-lg6 form-group">
            <div class="form-field-wrap">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" name="lastNamePersonnel" [(ngModel)]="personnelFlagData.lastName"
                (ngModelChange)="personnelValueChange(lastNamePersonnel)" #lastNamePersonnel="ngModel" [disabled]="lastNamePersonnelDisableFlag"
                [ngClass]="{ 'is-invalid': lastNamePersonnelRejectionFlag }" required>
              <i class="fas fa-info-circle invalid-icon" *ngIf="lastNamePersonnelRejectionFlag"></i>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 form-group">
            <div class="form-field-wrap">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" name="firstNamePersonnel" [(ngModel)]="personnelFlagData.firstName"
                (ngModelChange)="personnelValueChange(firstNamePersonnel)" #firstNamePersonnel="ngModel" [disabled]="firstNamePersonnelDisableFlag"
                [ngClass]="{ 'is-invalid': firstNamePersonnelRejectionFlag }" required>
              <i class="fas fa-info-circle invalid-icon" *ngIf="firstNamePersonnelRejectionFlag"></i>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 row">
          <div class="col-sm-6 col-md-6 col-lg-6 form-group">
            <div class="form-field-wrap">
              <label for="idType">ID Type</label>
              <ng-select [items]="allIdTypeTypeRefs" bindValue="typeCode" bindLabel="description" [(ngModel)]="personIdentityDetails.identityTypeCode"
                #identificationTypePersonnel="ngModel" name="identificationTypePersonnel" [disabled]="identificationTypePersonnelDisableFlag"
                [ngClass]="{ 'is-invalid': identificationTypePersonnelRejectionFlag }" (ngModelChange)="personnelValueChange(identificationTypePersonnel)"
                placeholder="{{idTypePlaceholder}}" tabindex="8">
              </ng-select>
              <i class="fas fa-info-circle invalid-icon" *ngIf="identificationTypePersonnelRejectionFlag"></i>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 form-group">
            <div class="form-field-wrap">
              <label for="derivedIntakeQty">Official ID</label>
              <input type="text" class="form-control" name="officialIdPersonnel" [(ngModel)]="personIdentityDetails.officialId"
                #officialIdPersonnel="ngModel" (ngModelChange)="personnelValueChange(officialIdPersonnel)" [disabled]="officialIdPersonnelDisableFlag"
                [ngClass]="{ 'is-invalid': officialIdPersonnelRejectionFlag }" required>
              <i class="fas fa-info-circle invalid-icon" *ngIf="officialIdPersonnelRejectionFlag"></i>
            </div>
          </div>
            <div class="col-sm-6 col-md-6 col-lg-6 form-group">
              <div class="form-field-wrap">
                <label for="sex">Gender</label>
                <ng-select [items]="genderDropdownValue" bindValue="id" bindLabel="name" style="width:86%" [(ngModel)]="personnelFlagData.genderCode"
                  (ngModelChange)="personnelValueChange(sexPersonnel)" #sexPersonnel="ngModel" name="sexPersonnel" [disabled]="sexPersonnelDisableFlag"
                  [ngClass]="{ 'is-invalid': sexPersonnelRejectionFlag }" required>
                </ng-select>
                <i class="fas fa-info-circle invalid-icon" *ngIf="sexPersonnelRejectionFlag"></i>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 form-group">
              <div class="form-field-wrap">
                <label for="birthDatePersonnel">Birth Date</label> 
                <div class="calendar_box" [ngClass]="{'is-invalid': birthDatePersonnelRejectionFlag, 'input-disabled': birthDatePersonnelDisableFlag}">
                  <input type="text" class="calendar-input-field" 
                  [owlDateTime]="birthDateInput" name="birthDatePersonnel" 
                  [(ngModel)]="personnelFlagData.birthDate"
                    #birthDatePersonnel="ngModel" [disabled]="birthDatePersonnelDisableFlag" 
                    [ngClass]="{'input-disabled': birthDatePersonnelDisableFlag}" (ngModelChange)="personnelValueChange(birthDatePersonnel)"
                    placeholder="{{!birthDatePersonnelDisableFlag ? 'mm/dd/yyyy' : ''}}">
                  <owl-date-time [pickerType]="'calendar'" #birthDateInput></owl-date-time>
                  <img src="/assets/images/calendar_icon.svg" class="wh-20 calendar-img trigger" [owlDateTimeTrigger]="birthDateInput">
                </div>
                  <i class="fas fa-info-circle invalid-icon" *ngIf="birthDatePersonnelRejectionFlag"></i> 
              </div>
            </div>
        </div>
      </div>
    </div>
  </form>
</ng-template>
<!-- Reject/Falg person modal -->